*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup-container {
    width: 200px;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 2px solid rgb(30, 27, 27);
    margin-bottom: 5px;
    background-color: antiquewhite;
  }
  
  button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }

  .delete-btn{
    width: 40%;
    margin-left: 5px;
  }
  
  button:hover {
    background: #0056b3;
  }

  table,th,td{
    border: 2px solid;
  }

  table{
    border-collapse:collapse;
  }